.yeshche {
    width: 90%;
    height: 166px;
    margin: 0 auto;
    margin-top: 50px;
   
}

.yeshche__button {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.yeshche__btn {
    width: 320px;
    height: 36px;
    background-color: transparent;
    border: 1px solid rgba(66, 66, 66, 1);
    color: #ffffff;
    cursor: pointer;

}

@media screen and (max-width: 500px){
    .yeshche__btn {
        width: 90%;
        
    
    }
}