.movies-card-list__container {
    background: #202020;
    display: grid;
    grid-template-columns: repeat(4, auto);
    max-width: calc(100% - 96px);
    gap: 20px;
    margin: 0 auto;
    padding: 0;
    margin-top: 70px;
    box-sizing: border-box;
  }

  @media screen and (max-width: 1024px) {
    .movies-card-list__container {
     grid-template-columns: repeat(3, auto);
     max-width: calc(100% - 96px);
     gap: 16px;
    }
  }

  @media screen and (max-width: 768px) {
    .movies-card-list__container {
     grid-template-columns: repeat( 2, auto);
     max-width: calc(100% - 48px);
     gap: 16px;
     
     
    }
  }

  @media screen and (max-width: 500px) {
    .movies-card-list__container {
     grid-template-columns: repeat(1, auto);
     max-width: calc(84%);
     gap: 12px;
     margin: 0 auto;
     margin-top: 40px;
     padding: 0;
    }
  }

/*@media screen and (max-width: 1024px) {
    .movies-card-list__container {
        grid-template-columns: repeat(3, auto);
        max-width: calc(100% - 38px);
        gap: 20px;
        margin-top: 70px;
    }

}

@media screen and (max-width: 768px) {
    .movies-card-list__container {
        grid-template-columns: repeat(2, auto);
        max-width: calc(100% - 38px);
        gap: 30px;
        margin-top: 70px;
    }

}

@media screen and (max-width: 500px) {
    .movies-card-list__container {
        grid-template-columns: repeat(1, auto);
        margin-top: 40px;
    }

}*/