.popup__container {
    background: #ffffff;
    width: 358px;
    border-radius: 10px;
    padding: 34px 36px 31px;
    position: relative;
    
}


.popup__info{
    display: flex;
    margin: 26px auto 32px;
    width: 120px;
    height: 120px;
  }

  .popup__title_success{
    display: block;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    max-width: 358px;
    margin: 0 auto 23px;
    text-align: center;
    color: #000000;
}

.popup__close {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    position: absolute;
    background-image: url(../../images/CloseIcon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    top: -40px;
    right: -40px;
    padding: 0;
    margin: 0;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 520px) {
    .popup__container{
        width: 232px;
        padding: 25px 22px;
    }
}

@media screen and (max-width: 768px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -35px;
        left: 93%;
    }
}

