.header {
    width: 100%;
    margin: 0 auto;
}


/*@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        margin: 0 auto;

    }
}

@media screen and (max-width: 400px) {
    .header {
        width: 100%;
        margin: 0 auto;

    }
}*/