.about-project {
    max-width: 1280px;
    background: #202020;
    margin: 0 auto;
}

.about-project__item {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 110px;

}

.about-project__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    margin: 0;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    padding-bottom: 23px;
}


.about-project__container {
    width: 94%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 0;
    margin-top: 70px;
    padding: 0;

}

.about-project__group {
    max-width: 550px;

}

.about-project__description {

    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 26px;

}

.about-project__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;

}

.about-project__week {
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 81px;
}

.about-project__oneweek {
    width: 100%;

    background: #3DDC84;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}

.about-project__bakend {
    height: 12px;
    margin: 0;
    margin-top: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 121%;
    text-align: center;
    color: #8B8B8B;

}

.about-project__groups {
    max-width: 912px;
}

.about-project__fourweeks {
    background: #303030;
    margin: 0;
    padding: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.about-project__frontend {
    height: 17px;
    margin: 0;
    margin-top: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}



@media screen and (max-width: 1024px) {
    .about-project {
        width: 96%;
        background: #202020;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .about-project__item {
        max-width: 668px;
        margin: 0 auto;
        margin-top: 90px;
    }

}

@media screen and (max-width: 768px) {
    .about-project__container {
        width: 100%;
        gap: 61px;



    }

}


@media screen and (max-width: 768px) {
    .about-project__description {
        max-width: 319px;
        margin: 0;
        padding-bottom: 26px;
    
    }

}

@media screen and (max-width: 768px) {
    .about-project__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 319px;
        margin-top: 22px;
    }

}

@media screen and (max-width: 768px) {
    .about-project__week {
        margin-top: 91px;
        margin-bottom: 50px;
    }

}





@media screen and (max-width: 500px) and (min-width: 320px){
    .about-project__item {
        margin-top: 40px;
        width: 90%;
        
    }
}

@media screen and (max-width: 500px) and (min-width: 320px){
    .about-project__title {
        
        font-size: 18px;
line-height: 22px;
        
    }
}

@media screen and (max-width: 500px) and (min-width: 320px) {
    .about-project__container {
        flex-direction: column;
        margin-top: 60px;
    }
}

@media screen and (max-width: 500px) and (min-width: 320px) {
    .about-project__description {
        font-size: 18px;
line-height: 22px;
    }
}

@media screen and (max-width: 500px) and (min-width: 320px) {
    .about-project__text {
        font-size: 11px;
line-height: 16px;
    }
}

@media screen and (max-width: 500px) and (min-width: 320px) {
    .about-project__week {
        width: 98%;
    }
}

@media screen and (max-width: 500px) and (min-width: 320px) {
    .about-project__week {
        width: 98%;
        grid-template-columns: 1fr 2fr;
    }
}