.profile-form {
    max-width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto 0;
}

.profile__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 74px;
    margin-bottom: 123px;
}

.profile-input__container {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.profile-form__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 220px;
}

.profile__button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background: transparent;
    cursor: pointer;

}

.profile__exit-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #EE3465;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-top: 16px;
}