.register {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register__header {
width: 100%;

    margin-top: 70px;
}

.register__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 40px;
}

.register-input__container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
}


.register-input__group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.register-input__name {
    text-align: left;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    position: absolute;
    left: 0;
    top: 0;
    color: #8B8B8B;
}

.register-input__email {
    text-align: left;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    position: absolute;
    left: 0;
    top: 0;
    color: #8B8B8B;
}

.register-input__password {
    text-align: left;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    position: absolute;
    left: 0;
    top: 0;
    color: #8B8B8B;
}

.register__input {
    width: 100%;
    height: 32px;
    padding-top: 5px;
    color: #FFFFFF;
    background: #202020;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}



.register__span {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}



.register-btn__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    font-size: 13px;
    line-height: 16px;
    margin-top: 130px;
    margin-bottom: 70px;
}



.register__button {
    width: 100%;
    height: 45px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #4285F4;
    border: none;
    cursor: pointer;
}

.register__button:hover {
    transition: opacity 0.4s ease;
    opacity: 0.5;

}

.register-btn__group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.register__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    margin: 0;
    padding: 0;

}

.register-exit__button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4285F4;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: #202020;
    border: none;

}

.register-exit__button:hover {
    transition: opacity 0.4s ease;
    opacity: 0.5;

}

@media (max-width: 888px) and (min-width: 320px) {
    .register__paragraph {
        font-size: 12px;
        line-height: 15px;

    }
}

@media (max-width: 888px) and (min-width: 320px) {
    .register-exit__button {
        font-size: 12px;
        line-height: 15px;

    }
}

@media (max-width: 768px) {
    .register {
        width: 396px;
        
    }
}

@media (max-width: 768px) {
    .register__header {
        display: flex;
        flex-direction: column;
        margin-top: 232px;
    }
}



@media (max-width: 755px) and (min-width: 320px) {
    .register {
        width: 300px;
        min-height: 100vh;
        align-items: center;
        
    }
}

@media (max-width: 755px) and (min-width: 320px) {
    .register__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}

@media (max-width: 755px) and (min-width: 320px) {
    .register__container {
        width: 100%;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 30px;
    }
}

@media (max-width: 755px) and (min-width: 320px) {
    .register-btn__container {
        width: 100%;
        margin: 0;
        margin-top: 157px;
        margin-bottom: 30px;
    }
}



@media (max-width: 755px) and (min-width: 320px) {
    .register__paragraph {
        font-size: 12px;
        line-height: 15px;

    }
}

@media (max-width: 755px) and (min-width: 320px) {
    .register-exit__button {
        font-size: 12px;
        line-height: 15px;

    }
}